[2015-04-28 20:29] mandarup opened #2 "Error: xgboost not defined"

[2015-04-28 20:32] #2 closed

[2015-05-02 18:14] theiling opened #3 "Build errors in Julia 0.3.8"
I tried to add XGBoost.jl to Julia and hot build errors.

Pkg.add("XGBoost")
.. none of the available packages can install dependcy xgboostwrapper
WARNING: XGBoost had build errors

i tried also
Pkg.clone("https://github.com/antinucleon/XGBoost.jl.git")
 Pkg.build("XGBoost")

Same result.

Any Ideas?

ye the way: This is th eoutput from Pkg.clone/Pkg.build
julia> Pkg.clone("https://github.com/anti

[2015-05-02 20:58] antinucleon commented on #3
Thanks for letting me know. I will check it late today since xgboost changes a lot recently.

[2015-05-10 14:42] arshak opened #4 "SoftmaxMultiClassObj: label exceed num_class"
I am using covertype

unique(labels)
7-element Array{Int64,1}:
 2
 1
 5
 6
 7
 3
 4

bst = xgboost(instances, num_round, label = labels, eta=1, max_depth=10, num_class=7, objective="multi:softmax")

errors out with SoftmaxMultiClassObj: label exceed num_class

however

bst = xgboost(instances, num_round, label = labels, eta=1, max_depth=10, num_class=8, objective="multi:softmax")

trains a model.

[2015-05-10 15:36] tqchen commented on #4
The multi-class label should range from [0, 6]

[2015-05-10 16:43] arshak commented on #4
Got it however the code shouldn't just crash when this happens.  Right now my Julia just exists after the error.

[2015-05-10 16:53] antinucleon commented on #4
I am sorry I didn't update it for a long time but at the same time xgboost
changes a lot. I hope I will have time next week to fully upgrade it.
On Sun, May 10, 2015 at 10:43 Arshak Navruzyan <notifications@github.com>
wrote:

[2015-05-10 17:24] arshak commented on #4
Excellent, thanks for the fast responses!

[2015-05-12 17:25] #4 closed

[2015-06-12 14:00] jumutc opened #5 "Loading of XGBoost module fails"
The latest WIP in julia https://github.com/JuliaLang/julia/pull/10380 is causing this for ```julia 0.4.-```.

[code]

[2015-08-11 23:21] slundberg opened #8 "Loading model files created by CLI xgboost?"
I was trying to load a model saved from CLI xgboost into Julia for examination. The CLI was running the latest master version of xgboost, and so I also built XGBoost.jl with the master version of xgboost. But when I try and load a model I get a segmentation fault. Is this expected to work? Thanks!

(julia version 0.3.1-pre+48 in case it matters)
[code]

[2015-08-12 02:55] tqchen commented on #8
There is a recent API interface change in xgboost to support exception throwing in language bindings, where the current Julia package did not catch up yet. This could be the cause of the problem

[2015-08-12 02:59] slundberg commented on #8
That would make sense. For now I'll stick with using the CLI for prediction and take a look at the API if I need it.

[2015-09-11 20:40] tristanmarkwell commented on #3
FYI, getting the same error in Julia 0.4.0 rc 1 (as well as a warning about the deprecated dictionary syntax).

[2015-09-11 20:42] antinucleon commented on #3
Sorry I am still working on https://github.com/dmlc/mxnet . I will refactor this project once I finish all work there.

[2015-10-16 00:42] #8 closed

[2015-12-15 04:19] maximsch2 commented on #5
Should this be closed since the fixed was merged?

[2015-12-15 09:05] jumutc commented on #5
Sorry. Closing!

[2015-12-15 09:05] #5 closed

[2016-01-28 22:30] maximsch2 opened #16 "Adapt tests from python version of XGBoost"
XGBoost.jl was recently broken due to the update in the dmlc/xgboost (which is fixed now by #12). While this wouldn't necessarily catch it, having tests similar to https://github.com/dmlc/xgboost/tree/master/tests/python will be very helpful

[2016-01-29 05:16] tqchen commented on #16
There was a few tests in https://github.com/dmlc/XGBoost.jl/tree/master/test contributed by @slundberg  I think we only need to setup a formal travis CI to continuously check the results for each PR and also make the testcase more organized, contribution is welcomed

[2016-01-29 06:12] slundberg commented on #16
I agree that better tests would be useful. The file I used for testing was just the file showing example use cases, it either crashes or runs, rather than checking for accuracy.

@tqchen could you flip the dmlc Travis CI account switch for this repo? Then we could just stick the badge on the readme and add better tests as they get written.

[2016-01-29 17:34] tqchen commented on #16
@slundberg travis is now on

[2016-01-29 18:48] slundberg commented on #16
thanks!

On Fri, Jan 29, 2016 at 9:34 AM Tianqi Chen <notifications@github.com>
wrote:

[2016-02-02 02:59] slundberg opened #17 "Processing restricted to a single thread"
This may not be specific to Julia, but when I work with XGBoost.jl models in memory, I often see the performance drop from ~3600% CPU usage to 100% next time I train. No errors are given, and there is plenty of RAM and CPU available.

Any ideas why this might be occurring? The only solution I have right now is to restart my whole session.

[2016-02-02 22:38] maximsch2 commented on #16
Awesome! I've just fixed the .travis.yml so that Travis now actually builds XGBoost and runs tests #18. I can add some basic tests after it is merged.

[2016-02-12 04:54] maximsch2 commented on #16
I'll close this for now as we have some tests up and running now. Thanks @tqchen for merging them!

[2016-02-12 04:54] #16 closed

[2016-03-13 04:16] maximsch2 commented on #17
Do you break it in the middle of the training session by any chance (if you are doing it interactively from IJulia)? I saw this happen for me in those cases, maybe OpenMP is being stuck in some weird state?

[2016-03-14 15:59] slundberg commented on #17
Good point. I was working in an interactive session, but couldn't reproduce
it consistently so I don't know if it was restricted to times when I
interrupted the training.

On Sat, Mar 12, 2016 at 8:16 PM Maxim Grechkin <notifications@github.com>
wrote:

[2016-03-18 15:46] skondrat opened #21 "nfold_cv doesn't work"
When I tried out some code from demo:

dtrain = DMatrix("agaricus.txt.train")
param = ["max_depth"=>2, "eta"=>1, "silent"=>1, "objective"=>"binary:logistic"]
num_round = 2
nfold = 5

xgboost(dtrain, num_round, param = param, metrics=["error"], seed = 0) #this works
nfold_cv(dtrain, num_round, nfold, param = param, metrics=["error"], seed = 0) #this doesn't

**I got this error:
**MethodError: `isle

[2016-03-31 10:20] Allardvm opened #24 "Wrapper functions use UInt64 instead of UInt32"
It looks like the functions in [xgboost_wrapper_h.jl](https://github.com/dmlc/XGBoost.jl/blob/master/src/xgboost_wrapper_h.jl) erroneously expect XGBoost's library to return results as `UInt64`, while they actually return the equivalent of Julia's `UInt32`. The result is that these functions return the wrong values.

Take the example of [XGDMatrixNumRow()](https://github.com/dmlc/XGBoost.jl/blob/m

[2016-04-05 06:02] maximsch2 commented on #24
Are you using Windows by any chance? This: https://en.wikipedia.org/wiki/64-bit_computing#64-bit_data_models seems to indicate, that `unsigned long` should be 64 bit everywhere except on Windows. XGBoost should be using something like `int64_t` there to be more portable.

[2016-04-29 16:41] slundberg commented on #21
#20 fixes this. So this can be closed.

[2016-04-30 18:05] #21 closed

[2016-05-01 07:37] cybertaurean commented on #3
Was this resolved? I'm still getting this error while trying to build XGBoost in julia.

[2016-05-01 07:55] zhmz90 commented on #3
@cybertaurean  have you tried  building XGBoost on Julia v0.4 or v0.5 since Julia v0.3 is a little old?

[2016-05-01 17:47] cybertaurean commented on #3
@zhmz90 I tried building on Julia v0.4 - Following is what I get as output -
[code]

[2016-05-01 17:48] cybertaurean commented on #3
The deps/build.jl has the following -
[code]

[2016-05-01 18:53] cybertaurean commented on #3
[code]

[2016-05-02 01:24] zhmz90 commented on #3
I just find out your OS is Windows. This package's default building process only support Linux. I will try to add support on OSX and windows. But now you need build shared library of xgboost manually and set `XGBoost._xgboost` to its location.  [How to build xgboost on windows](https://xgboost.readthedocs.io/en/latest/build.html#building-on-windows) may be helpful to you.

[2016-05-02 01:38] cybertaurean commented on #3
@zhmz90 Thank you so much. I had built libxgboost.dll using MinGW (it failed initially with VS, and I read that the support to VS was removed). I was able to incorporate the library for Python. However, how do I incorporate libxgboost.dll to Julia? I'm pretty new to Julia and would appreciate if you could help out with getting this working on Julia (it's working on Python for me).

[2016-05-02 01:51] zhmz90 commented on #3
Try to replace the line `include("../deps/deps.jl")` in `joinpath(Pkg.dir("XGBoost"), src/xgboost_wrapper_h.h)` with `const _xgboost = full_path_of_your_libxgboost.dll`

[2016-05-02 03:17] cybertaurean commented on #3
@zhmz90 I changed xgboost_wrapper_h.jl to the following -

[code]

However, the process is still failing in deps/build.jl with the same error as before -

[code]

[2016-05-02 03:23] zhmz90 commented on #3
@cybertaurean, you don't need to run `Pkg.build("XGBoost")`, just directly use this package with `using XGBoost`.

[2016-05-02 03:30] cybertaurean commented on #3
@zhmz90 I will run the module and come back with questions (if any). Appreciate the help.

[2016-05-03 05:33] cybertaurean commented on #3
@zhmz90 It still doesn't seem to get the reference to libxgboost.dll and fails at xgboost --> makeDMatrix --> DMatrix --> XGDMatrixCreateFromMatT (error message below) -

[code]

I still have the fully qualified path of the dll added to the xgboost_wrapper_h.jl file.

[code]

[2016-05-03 11:58] zhmz90 commented on #3
@cybertaurean, Could you give me a more detailed stack trace message?

[2016-05-03 15:42] cybertaurean commented on #3
@zhmz90 That's all I'm seeing when I try to call xgboost module. I went into the modules and traced the call to where it was failing. Is there any particular detail that you are looking for?

[2016-05-05 01:14] slundberg opened #28 "Tag new release"
Whenever people install XGBoost via `Pkg.add("XGBoost")` it gives them an old broken version because a new version of the Julia package has not been tagged for a long time. Worse, even if you then `Pkg.checkout("XGBoost")` to get the master it will still fail because the old build files are still around.

Could we tag a new Julia package release? Thanks!

[2016-05-08 04:51] slundberg commented on #28
The new release is now tagged. And the Julia version support for it is restricted to v0.4

[2016-05-08 04:51] #28 closed

[2016-05-08 04:52] slundberg commented on #17
Closing this since it is likely not an issue with the Julia interface.

[2016-05-08 04:52] #17 closed

[2016-05-17 14:29] Allardvm commented on #24
Yes, this was on a Windows machine. Perhaps we could define the correct size somewhere for each platform somewhere in the package?

[2016-05-17 17:24] maximsch2 commented on #3
Have you built the latest version of the XGBoost or the one from the branch that is used by XGBoost.jl? You should do `git checkout 0.47` inside your XGBoost repo before building the library.

[2016-05-19 17:53] slundberg opened #32 "Inconsistency between sparse and dense inputs"
It seems as though models trained on dense data cannot predict using sparse matrices:

[code]

produces

[code]

I am looking into it, but want to note the issue here for now.

[2016-05-19 17:55] tqchen commented on #32
mainly on the definition of missing value. XGBoost treat the non-presenting entries as missing. For dense matrix, 0 is not treated as missing.

[2016-05-19 18:25] slundberg commented on #32
Got it, thanks!

[2016-05-19 18:25] #32 closed

[2016-05-30 08:47] abhijithch opened #33 "How to treat missing values"
I was trying the Julia version of the Kaggle-Higgs code, and when I do `xgmat = DMatrix( data, label=label, missing=-999.0)` I get an `_setinfo has no method matching _setinfo(::Ptr{Void}, ::ASCIIString, ::Float64)` error. But in the implementation of `DMatrix()` function I see that we can pass the `missing` parameter. Can you please let me know how are we supposed to pass the `data`? Thanks.

[2016-05-31 09:44] abhijithch commented on #33
@tqchen sorry to bother you, do you have any way I can get around this. I might not be using the `DMatrix` function the right way. I just need to run your [higgs example](https://github.com/dmlc/xgboost/blob/master/demo/kaggle-higgs/higgs-numpy.py). I tried a hack way of replacing zeros with `eps()` and making the `-999.0` to zeros, then convert this to a sparse matrix and pass to `DMatrix`, but t

[2016-06-07 06:58] danielgrossma commented on #3
I ran into the exact same issue as cybertaurian:

"error compiling XGDMatrixCreateFromMatT: could not load library ".libxgboost.dll"
The specified module could not be found."

Trying out:

git checkout 0.47

before building the shared lib resulted in a failure to compile. Do you have a more detailed explanation on how it should be done?

I'm running on Windows 10

[2016-07-11 19:06] peemblis commented on #3
I'm having the same errors with Julia 0.4.6 as the opening post. I'm on Windows 7.

--------------------------------------------

**julia> Pkg.add("XGBoost")**
_INFO: Cloning cache of XGBoost from git://github.com/dmlc/XGBoost.jl.git
INFO: Installing XGBoost v0.2.0
INFO: Building XGBoost
===============================[ ERROR: XGBoost ]===============================

LoadError: None of the select

[2016-07-11 19:30] slundberg commented on #3
I don't have access to a windows machine, so I can't be of much assistance. However there is nothing special about building XGBoost for Julia vs. building it standalone. The commands are:

[code]

I would recommend just getting those commands to work before worrying about the Julia package part of XGBoost.

[2016-07-12 21:42] maximsch2 commented on #3
I think you are supposed to build XGBoost through Visual Studio on Windows, not through bash script. It is a bit painful, but doable. I remember also seeing pre-built binaries for Windows, you can try looking for them.

[2016-07-28 13:57] elichow commented on #3
Hi, I'm trying to build XGBoost for Julia 0.4.6 on Windows, but I keep getting the same build error above. I already built the dmlc xgboost for python 3 with git bash, but I don't know how to do it for Julia.

Does anyone know a way to do it?
Thx

[2016-07-28 14:16] yose6 commented on #3
Hi, I'm trying to build XGBoost for Julia 0.4.6 on Windows, but I keep getting the same build error above. I already built the dmlc xgboost for python 3 (anaconda), but I don't know how to do it for Julia XGBoost.jl

Does anyone know a way to do it?
Thx

[2016-08-09 14:56] AStupidBear opened #35 "Hyperparameter Optimization?"

[2016-08-20 01:01] slundberg commented on #33
`missing` is a positional argument and not a keyword argument (which you are using it as), that is likely part of the problem.

[2016-08-20 01:01] slundberg commented on #35
Any more details to this?

[2016-09-02 16:11] #35 closed

[2017-01-24 18:24] Allardvm commented on #24
I finally got around to sorting this out the proper way—with Julia's system independent c types. In the meantime, XGBoost's C API has changed its definition of `bst_ulong`, but the Julia package still builds against an older version that has this issue.

I'd be happy to submit a pull request from my fork (https://github.com/Allardvm/XGBoost.jl) that uses Julia's portable c types everywhere.

[2017-01-24 20:11] slundberg commented on #24
A PR sounds great! I have been meaning to update the Julia binding to match the latest XGBoost but have not done anything on it. It looks like you are linking against master right?

[2017-01-24 21:46] Allardvm commented on #24
Yes, my fork builds against the XGBoost master because I'm using the new histograms. The Julia package should probably build a stable version though, but I could check if any of the C API have changed in the meantime. If not, I could provide an interface that allows users to specify their own XGBoost library.

There are some other fixes in the fork as well—so far mostly small changes that change s

[2017-01-24 23:29] slundberg commented on #24
Great! By default I think it should build the most recent stable version,
but providing a switch to make it easier build against master seems like a
good idea to me.

On Tue, Jan 24, 2017 at 1:47 PM Allard van Mossel <notifications@github.com>
wrote:

[2017-01-25 14:10] Allardvm commented on #24
The latest stable version has slightly different typedefs from the latest master, so it'll take a bit more work than expected. I'll adapt the fork to use `ENV["XGBOOST_BUILD_VERSION"]` to indicate the version to build, with missing (default) indicating "the latest stable version". The build process will add a global const to the library-loading code that indicates the library version (since this f

[2017-01-25 23:09] #33 closed

[2017-01-26 16:27] Allardvm opened #37 "Discuss package refactoring and the road to feature parity"
I'm currently refactoring the internals of this package to make optimal use of the Julia language and I keep running into the same trade-off, and I'd like some input.

On the one hand, we can keep the package as close as possible to the Python package (as it is now). This makes it quite easy for new users to get started, since they might be familiar with the Python package. Even if they aren't, th

[2017-01-26 16:43] #24 closed

[2017-01-26 19:14] slundberg commented on #37
Good questions. My first reaction is that consistency with the Python API would be helpful for the XGBoost community in general because examples people find in one language map more easily to another. The performance hit for small models from keyword args seems like an edge case to me. If someone is that concerned with the function call overhead they could write their own `update()`.

I agree that

[2017-01-27 11:09] Allardvm commented on #37
Thanks for the input. For the current use-case, I don't think multiple dispatch will result in more easily interpretable code. There'll be less conditionals in the methods, but there will also be more more methods with similar functionality. I'm inclined to agree with you that it would be wise to stick to the Python API. In the end, the refactor will then have the same function names, argument ord

[2017-02-03 16:16] ExpandingMan opened #38 "support for multi-dimensional "label" for regressions?"
Hello all.  I haven't dug too far into the source code yet, but I'm wondering if it's possible to do regressions where the "label" (target value) consists of multi-dimensional data points.  (i.e. the `label` argument of the `xgboost` function would be an `Array{T<:Number,2}`.)  This seems like a pretty important feature, but I can't find any literature about it in the xgboost documentation for any

[2017-02-03 16:25] slundberg commented on #38
See https://github.com/dmlc/xgboost/blob/master/doc/parameter.md and
the multi:softprob objective for how a vector output would be handled (as a
flattened matrix).

However a deeper question is what you expect to happen in the gradient
boosting regression model with a vector output that is different than
running a separate model for each dimension. If you can clarify what you
want to be different

[2017-02-03 17:49] ExpandingMan commented on #38
Thanks for your prompt response.

I don't see any significant problem with using multiple models (as far as I can think, in the case of gradient boosted trees this should be exactly equivalent to "one" multi-dimensional model).  Of course, one usually doesn't have to resort to this (from an API standpoint), hence the issue.  Apart from convenience, I'd be a bit concerned about performance issues i

[2017-02-03 17:56] slundberg commented on #38
Deep learning API's often allow vector output because they share parameters
during such multitask learning. My guess is since GBM's don't typically do
this, running separate models is the most explicit way of doing this
without implying that any parameter sharing is happening. I think Tianqi
wrote a paper with Carlos a while back on accounting for certain types of
dependence among the output featu

[2017-02-08 16:15] ExpandingMan opened #39 "compliance with ScikitLearn API"
Like many, I frequently use the "ScikitLearn" paradigm where I create a model object and then call functions like `fit!` and `predict`.  In Julia, with multiple dispatch, it's trivially easy to get arbitrarily complicated machine learning methods to follow this paradigm.

*Except*... with this package.  This is because the model creation and training are done with one function call.  This means th

[2017-02-09 13:03] Allardvm commented on #39
As far as I know, there are no concrete plans to provide this functionality for the Julia package, because the general approach is to provide a consistent interface for XGBoost across languages. It's this consistent version of the interface that is implemented for Julia, and I'm currently refactoring the package to be even more consistent (for some progress, see https://github.com/Allardvm/XGBoost

[2017-02-09 14:53] ExpandingMan commented on #39
Well, other conformity issues aside, at least across Julia and Python packages that I am aware of, I find that all machine learning packages have:

* A model object of some sort.
* A training function that takes the model, training data and target `X` (matrix) and `y` (vector or matrix).
* A prediction function that takes test data `X` (matrix).

The major exception that I'm aware of are methods t

[2017-02-14 16:57] slundberg commented on #39
I can see why you would want consistency, though in this case it is tricky since consistency with the other XGBoost bindings is also valuable. Since @Allardvm is working on the refactor I would leave it to him to see what is best.

One comment though is that you could call `xgboost` with 0 boosting rounds. Then just call `update` as many times as you like for training (and eval_set if you want sta

[2017-02-14 16:59] slundberg commented on #37
Once this gets merged I think we should release a new version to capture all the new updates for users not cloning the repo.

[2017-02-14 17:05] ExpandingMan commented on #39
Thanks for the tip.  It doesn't completely "fix" all the data input/output steps but it's quite useful!

[2017-03-08 15:31] cstjean commented on #39
It wouldn't be hard to implement the ScikitLearn.jl interface on top of the existing code by creating a new type. It's what I did for [DecisionTree.jl](https://github.com/bensadeghi/DecisionTree.jl#scikitlearnjl) (see this [file](https://github.com/bensadeghi/DecisionTree.jl/blob/master/src/scikitlearnAPI.jl)) and LowRankModels.jl. I understand the reluctance to add more code. FWIW, the [ScikitLea

[2017-03-08 15:58] ExpandingMan commented on #39
It would be kind of nice to make a common machine learning interface for Julia, sort of the way [JuMP](https://github.com/JuliaOpt/JuMP.jl) works for optimization.  There is [MLBase](https://github.com/JuliaStats/MLBase.jl), but for me, it would be nicer to have an interface that I could plug any of ScikitLearn, XGBoost, TensorFlow, MXNet into.

I've toyed with the idea of doing this, but frankly

[2017-03-08 23:19] cstjean commented on #39
That's the objective behind `ScikitLearnBase`. `JuliaML` is also working on something similar. It's more ambitious, but not mature yet. We've already discussed making those two interfaces compatible where possible, once the dust settles on their designs.

[2017-03-09 12:28] Allardvm commented on #39
I'll look into the ScikitLearnBase.jl interface. It closely matches what I planned for the XGBoost interface anyway, so we might as well make it compatible. Since I'm quite busy at the moment, progress is a bit slow, but you can check the current state here: https://github.com/Allardvm/XGBoost.jl/tree/package-refactor. This version is fully functional and you're welcome to contribute/test it.

[2017-03-17 23:14] dmitrijsc opened #40 "Missing XGBoost parameters when calling nfold_cv"
Hi guys,

I've just started using Julia and noticed XGBoost is missing some parameters.
Any plans to implement early_stopping_rounds and print_every_n rows in the next version when doing nfold_cv?

I have started writing my own implementation to fix the issues but it would be great if it is available out of the box.

[2017-03-18 02:34] slundberg commented on #40
Not that I know of, but PR's are welcome. Though you should check with @Allardvm since he was working on a refactor that would effect this last I know.

[2017-03-20 01:56] AStupidBear opened #41 "nfold_cv returns"
I think nfold_cv should also return the computed statistics, not `nothing`, like the Python API

![2017-03-20_095609](https://cloud.githubusercontent.com/assets/16422976/24086961/74607562-0d53-11e7-8070-9b073705273b.jpg)

[2017-03-20 08:48] dmitrijsc commented on #40
Thanks for your answer. I will get in touch with him a little bit later.

[2017-03-20 08:51] dmitrijsc commented on #41
I think we should merge this with https://github.com/dmlc/XGBoost.jl/issues/40

I have done some minor change to the package on your question and will share the code when it is clean and tidy.

[2017-03-20 10:02] AStupidBear commented on #41
I think I'll move to Python API of xgboost.

[2017-03-20 10:07] #41 closed

[2017-04-23 15:18] dmitrijsc opened #42 "XGBoost fails on Julia 0.6.beta.0 (OSX)"
Hello,

XGBoost fails to compile/start on Julia 0.6 with the following exception: invalid return type or argument type in ccall

[code]

Julia versioninfo

If we look in the code https://github.com/dmlc/XGBoost.jl/blob/master/src/xgboost_wrapper_h.jl, line 12, 13 and 14 reference to the wrong elements in the expression  (args[1] represents "=>").

[code]

but should be

[code]

[2017-04-24 06:31] Allardvm commented on #42
Thanks! This must've been a tricky thing to figure out. In the refactor (not done yet, this was a typical case of making too many changes at once), I made a similar change that will also work on 0.5:
[code]
I'll add a note to your PR.

[2017-05-09 06:21] Allardvm commented on #37
Closing this since we can continue the discussion in https://github.com/dmlc/XGBoost.jl/pull/44.

[2017-05-09 06:21] #37 closed

[2017-06-26 14:47] #42 closed

[2017-06-26 14:47] #40 closed

[2017-11-13 18:58] alha02 opened #46 "Error on using XGBoost"
[code]
There were no errors when building and I'm using latest checkout.

[2017-11-13 19:00] slundberg commented on #46
Might have to do with 0.6, I'll check on it.

On Mon, Nov 13, 2017 at 10:58 AM alha02 <notifications@github.com> wrote:

[2017-11-14 06:02] alha02 commented on #46
Thanks! I tried using 0.5 with the same result though:
[code]

[2017-11-14 06:45] pevnak commented on #46
I have the same issues with 0.6.1

[2017-11-14 08:08] iblis17 commented on #46
@alha02
`UndefVarError: build_version not defined`
means that there is something wrong with your `deps/deps.jl`.

It might contain
[code]

If not, please try
`Pkg.build("XGBoost")` to auto-generating that file.

[2017-11-14 09:32] pevnak opened #48 "Error using XGBoost"
When I type using XGBoost, I got following error:

[code]

[2017-11-14 10:39] iblis17 commented on #48
please checkout https://github.com/dmlc/XGBoost.jl/pull/47?

[2017-11-14 19:28] slundberg commented on #46
I just merged the fix from @iblis17, let me know if you still have the same issue on 0.6 with that patch and we can reopen this.

[2017-11-14 19:28] #46 closed

[2017-11-14 19:28] slundberg commented on #48
Thanks to @iblis17 it is merged now so this should be fixed.

[2017-11-14 19:28] #48 closed

[2017-11-28 11:23] andreasnoack opened #50 "New release"
Would be great if you could tag a new release since the current released version doesn't load on Julia 0.6.

[2017-11-29 17:53] slundberg commented on #50
I'll work on that here shortly.

On Tue, Nov 28, 2017 at 3:23 AM Andreas Noack <notifications@github.com>
wrote:

[2017-12-20 02:47] ChrisRackauckas opened #51 "Build error on master on Windows 10"
After checking out master, I tried to build:

[code]

[2017-12-20 03:00] oxinabox commented on #51
Just some notes:

 - backend does support window.

 - The current `deps/build.jl` uses commandline calls to `git clone` and build the back end.
 - Rather that the more common options of downloading a precompiled binary, or using a system package manager (Apt+Yum+WinRPM, or Conda)
 - Conda Forge does not windows https://github.com/conda-forge/xgboost-feedstock/issues/3
- default/andaconda channel d

[2017-12-20 04:13] ChrisRackauckas commented on #51
I downloaded the binary from

http://www.picnet.com.au/blogs/guido/post/2016/09/22/xgboost-windows-x64-binaries-for-download/

and then I setup a deps.jl that was:

[code]

and then it worked. It throws

[code]

every step, but the output is correct.

[2017-12-20 04:34] oxinabox commented on #51
`((VERSION >= v"0.4.0-dev+3844" ? Base.Libdl.dlopen_e : Base.dlopen_e)(path) == C_NULL) && error("Unable to load \n\n$libname ($path)\n\nPlease re-run Pkg.build(package), and restart Julia.")`

can be:

`(Base.Libdl.dlopen_e == C_NULL) && error("Unable to load \n\n$libname ($path)\n\nPlease re-run Pkg.build(package), and restart Julia.")`

Since XGBoost requires Julia 0.5

[2018-04-15 18:04] ChrisRackauckas commented on #3
I think this issue is more about Windows than the Julia version. I opened an issue here:

https://github.com/dmlc/XGBoost.jl/issues/51

and in there I show how you can get it to work on Windows. That could probably be used to build a solution.

[2018-08-17 15:53] dmitrypenzar1996 opened #52 "Don't work for Julia1.0"
Installation fails with the following error:
┌ Error: Error building `XGBoost`:
│ ERROR: LoadError: syntax: misplaced assignment statement in "[libxgboostwrapper = library_dependency("xgboostwrapper", aliases = ["libxgboostwrapper.so"])]"
│ Stacktrace:
│  [1] include at ./boot.jl:317 [inlined]
│  [2] include_relative(::Module, ::String) at ./loading.jl:1038
│  [3] include(::Module, ::String) at ./

[2018-08-20 19:06] slundberg commented on #52
Thanks, this needs cleaned up and released for 1.0. I'll do it if I get a chance, otherwise PRs are welcome :)

[2018-09-11 03:55] ajaychat3 opened #53 "compilation error on win 10 julia 0.7"
julia> Pkg.build("XGBoost")
  Building XGBoost → `C:\Users\chatura\.julia\dev\XGBoost\deps\build.log`
 Resolving package versions...
┌ Error: Error building `XGBoost`:
│ [ Info: Using the latest master version of the XGBoost library
│ ERROR: LoadError: None of the selected providers can install dependency xgboost.
│ Use BinDeps.debug(package_name) to see available providers
│
│ Stacktrace:
│  [1]

[2018-09-25 16:53] ptaitAtMcMaster opened #54 "Julia 1.0: Compatible XGBoost version?"
Hi,
I am trying to add the XGBoost package in a fresh julia 1.0 installation. I am running ubuntu (uname -a output):
Linux 4.4.0-134-generic #160~14.04.1-Ubuntu SMP Fri Aug 17 11:07:07 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

It appears that there is not a Julia 1.0 compatible version of XGBoost:

(v1.0) pkg> add XGBoost
 Resolving package versions...
ERROR: Unsatisfiable requirements detected for

[2018-09-29 22:07] slundberg commented on #54
I was keeping the release cycles up while I was using the XGBoost in Julia extensively, but now I have been swamped with other things so I am not surprised it has issues on 1.0. I am happy to merge any fixes though :)

[2018-10-02 00:09] rakeshvar commented on #50
Can we get a new release tag for Julia 0.6. (As julia 0.7, 1.0 are much more work and we can work with .6 in the interim?) Thanks.

[2018-10-16 19:06] ptaitAtMcMaster commented on #54
Hi slundberg - thanks for updating the git repo. Did you get XGBoost working with Julia 1.0?
I tried to install it (see below) in 1.0.1 and it did not work.

(v1.0) pkg> add XGBoost
 Resolving package versions...
ERROR: Unsatisfiable requirements detected for package XGBoost [009559a3]:
 XGBoost [009559a3] log:
 ├─possible versions are: [0.0.1, 0.1.0, 0.2.0] or uninstalled
 ├─restricted to version

[2018-10-16 19:21] ptaitAtMcMaster commented on #54
Hi @slundberg - thanks for updating the git repo. Did you get XGBoost working with Julia 1.0?

Using Julia 1.0.1, building the package directly from the git repo seems to work:
(v1.0) pkg> add https://github.com/dmlc/XGBoost.jl.git
   Cloning git-repo `https://github.com/dmlc/XGBoost.jl.git`
  Updating git-repo `https://github.com/dmlc/XGBoost.jl.git`
 Resolving package versions...
 Installed Comp

[2018-10-17 00:39] slundberg commented on #54
I just merged a nice PR from @simonschoelly to support 1.0, but PkgDev is failing to install on 1.0 for me right now so I can't tag a new registry version until I figure that out.

[2018-10-17 01:48] simonschoelly commented on #54
I think PkgDev does not work on Julia v1.0. You probably just have to tag it using github.
But there is another problem: The tests on travis failed for the macintosh version. https://travis-ci.org/dmlc/XGBoost.jl/jobs/441179595
I think the problem is when build XGBoost, but I can't really fix it, because i don't have a macintosh.

[2018-10-28 20:06] microgold commented on #54
This worked for me on Julia 1.0.1 but not Julia 1.0.0 (using the PC)

[2018-10-30 00:41] ptaitAtMcMaster commented on #54
Hi - XGBoost is working for me.
I am running xgboost on linux
`uname -a
 Linux  4.4.0-138-generic #164~14.04.1-Ubuntu SMP Fri Oct 5 08:56:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
`
I installed it with
`] build https://github.com/dmlc/XGBoost.jl.git`

If you need any more information please let me know.

[2018-11-11 21:13] microgold commented on #54
I finally got this to work.  There were still a few issues on the PC, but I managed to figure out the problems.  I published an article on using XGBoost and the article explains how I got around these issues.

For example:  I would make it clearer in the instructions, that you need to copy XGBoost.dll into the dep directory.  I would also explain that you need to set the environment variable to ma

[2018-11-20 16:56] slundberg commented on #54
@JackDunnNZ I sent a request to get attobot added under dmlc, assuming that works I'll tag a release.

[2018-11-20 17:10] JackDunnNZ commented on #54
Thanks!

[2019-02-09 16:01] oxinabox commented on #54
So can a release be tagged?

[2019-02-28 09:24] LengyanReader opened #58 "failed to compile in julia1.1"
![image](https://user-images.githubusercontent.com/10557968/53555828-ad8a8d00-3b7d-11e9-87fd-f7309572566f.png)

[2019-03-14 11:46] deepaksuresh opened #59 "On retrieving weights of boosters"
1. Is there a way to retrieve the weight of each booster from a trained model?
2. During boosting the weights on each datapoint will keep changing, and the outliers or datapoints that are hard to classify will accumulate a lot of weight. Is there a way to get these weights either during each stage of boosting, or after all boosters have been built

[2019-04-08 21:29] ablaom commented on #58
On 1.1 / MacOS I can dev into an empty env but not add. Maybe a recent release needs to be tagged??

[code]

[2019-04-10 15:13] attobot opened #60 "Error tagging new release"
The tag name "0.3.0" is not of the appropriate SemVer form (vX.Y.Z).
cc: @slundberg

[2019-04-10 15:15] #60 closed

[2019-04-10 16:05] slundberg commented on #54
Sorry this took a long time to sort out, but a release is now tagged :)

[2019-04-10 16:05] #54 closed

[2019-04-10 18:06] oxinabox commented on #54
This is really sad, because you tagged a release today,
and today the release making system is broken.

[2019-04-17 15:49] ViralBShah opened #61 "Use BinaryBuilder to provide pre-built XGBoost binaries"
It would be nice to use BinaryBuilder / BinaryProvider for the xgboost binaries.

@staticfloat Is this something we should do in Yggdrasil itself?

cc @aviks

[2019-04-17 17:18] ViralBShah commented on #61
Related discussion: #51

[2019-04-18 14:37] ViralBShah opened #62 "Need better error validation for improper inputs"
I provided an improper data structure for `labels` to  and got the following error. I was providing a vector of tuples instead of what it expects. I think validating the types of the inputs and providing a better error message would be helpful.

[code]

[2019-04-18 14:38] ViralBShah commented on #50
Can probably close this.

[2019-04-18 14:40] ViralBShah opened #63 "Tests not passing on mac"
I am using the current tagged version of XGBoost.jl (0.3.1) on a mac with Julia 1.1.0 official binaries. The tests do not pass for me.

[code]

[2019-04-18 14:41] ViralBShah commented on #3
Close?

[2019-04-18 14:43] ViralBShah opened #64 "[COMMUNITY] Provide commit access to a few Julia regulars?"
Hello @slundberg

I think some of us in the Julia community could help out with this package and its maintenance and curating the issues. Would it be possible to give commit access to some folks?

Maybe @viralbshah, @aviks, and @dhairyagandhi96 to start with?

[2019-04-18 16:15] slundberg commented on #64
That would be great! I started helping with this when I was using the Julia API a while back, but have since been consumed with just keeping up with my own repos. @tqchen or @hcho3 do you know how best to add folks for XGBoost.jl ? I don't seem to have access to manage members/access directly.

[2019-04-18 16:19] #3 closed

[2019-04-18 16:19] #50 closed

[2019-04-18 16:24] aviks commented on #64
Thanks, @tqchen!

[2019-04-18 16:25] tqchen commented on #64
Thanks @ViralBShah. Ideally, We bring active contributors as committers of the XGBoost community. Given that we also operate on trust and I do think it is best to get the folks on board as early as possible, I give you along with other friends temporary commit access.

After a while, @hcho3 and XGBoost PMC can revisit and bring you formally as committer

[2019-04-18 16:37] ViralBShah commented on #64
Thanks @tqchen

[2019-04-18 16:38] ViralBShah commented on #61
Filed upstream in https://github.com/JuliaPackaging/Yggdrasil/issues/10

[2019-04-18 16:40] ViralBShah commented on #58
This worked fine for me.

[2019-04-18 18:50] ViralBShah commented on #52
Builds fine on mac right now.

[2019-04-18 18:50] #52 closed

[2019-04-18 18:51] ViralBShah commented on #53
Closing in favour of #53

[2019-04-18 18:51] #53 closed

[2019-04-18 18:52] ViralBShah commented on #58
Also why #61 will help.

[2019-04-18 21:06] ViralBShah commented on #39
Just checking in here after a long time. What's the current plan for APIs and such here?

[2019-04-21 20:48] ablaom commented on #58
Yes, `add` now works for me.

[2019-04-21 21:20] #58 closed

[2019-04-21 21:34] ViralBShah commented on #63
The reason the tests are not passing is because the `example.jl` test tries to write to `xgb.model` and the `*.txt` files in the `test` directory. The files had permissions `-r--r--r--`. Fixing the permissions made the tests pass.

[2019-04-22 02:13] #64 closed

[2019-06-01 23:22] mapmeld opened #65 "Error building on Julia 1.1 | Mac and NextJournal"
I haven't been able to build XGBoost on either platform due to this error with DMatrix; I am new to Julia so please let me know if I might just be Doing It Wrong

[code]

Here's the error itself

[code]

[2019-06-02 10:33] dmoliveira commented on #65
The same problem for me... and mine is Ubuntu.

[code]

[2019-06-02 11:09] trivialfis commented on #65
I'm not an expert in Julia, could you provide more details? Like are you building with master branch?  BTW, is the Julia package using CMake?

[2019-06-02 20:15] trivialfis commented on #65
Okay, now I understand how Julia pkg is built.   Will try to upgrade XGBoost version when time allows.

[2019-06-03 21:46] aviks commented on #65
this is fixed by #66.

[2019-06-03 21:46] #65 closed

[2019-06-03 22:06] mapmeld commented on #65
Thanks!

[2019-06-20 21:42] aviks commented on #63
Seems OK for me now.

[2019-06-20 21:42] #63 closed

[2019-06-20 21:44] aviks commented on #61
Fixed by #68

[2019-06-20 21:44] #61 closed

[2019-06-20 21:45] aviks commented on #51
Fixed by #68

[2019-06-20 21:45] #51 closed

[2019-06-24 14:10] ablaom opened #69 "XGBoost 0.4.1 build failing on linux (but not mac) in MLJ travis build"
Not been able to reproduce this locally.

Travis fail is for Julia 1 and 1.1 and nightly for linux only

https://travis-ci.com/alan-turing-institute/MLJModels.jl/jobs/210361097

<img width="1005" alt="Screen Shot 2019-06-24 at 3 06 09 PM" src="https://user-images.githubusercontent.com/30517088/60025591-e224d600-9691-11e9-84a5-dab34dbea872.png">

[2019-06-24 14:15] aviks commented on #69
I tried on a local linux machine, and it worked fine. XGBoost's own Travis tests seem to work fine.

Do you have any OS version specifiers in your travis jobs?

paging @staticfloat -- help!

[2019-06-24 16:07] ablaom commented on #69
I'm not sure I understand the question. We run tests for Mac and Linux:

[code]

[2019-07-09 20:57] caxelrud opened #70 "Is support for GPU available using parameters?"
Is it possible to use parameters as "tree_method= gpu_hist"?
Are examples available?

[2019-07-10 10:28] aviks commented on #69
@staticfloat any thoughts? Seems like `write_deps_file` fails, but eats up the exception. Note that this only fails on Travis on the MLJ tests.

[2019-07-10 17:56] staticfloat commented on #69
Hmmm, no, I have no idea.  If you can add some debugging steps (such as directly `dlopen()`'ing `libxgboost.so`, running `ldd /path/to/libxgboost.so`, etc...) that would be helpful.

[2019-07-24 11:26] ErwanPiR opened #71 "Custom verbosity"
Hi,

I haven't find out how to change verbosity in the xgboost call.
And the print
[code]
is quite annoying when you launch multiple runs.

Is there something I miss to adjust the verbosity ?

Thanks for your help.

[2019-07-24 17:16] ablaom commented on #71
I believe `silent=true` works.

[2019-07-24 17:30] ErwanPiR commented on #71
Excellent ! Thanks @ablaom, it's what I was looking for !

[2019-07-24 17:30] #71 closed

[2019-08-08 15:42] smith4455 opened #72 "how to get the trees"
Hi,

I am trying to get the prediction values of each tree from XGBoost model, to find the standard deviation of the results. Since xgboost only gives me one prediction, I don't have access to that.

I tried
[code]

to get the individual trees. But I don't know how to load them to use in Julia.

Thank you for your help
Ali

[2019-08-13 06:12] dpk1729 commented on #70
In order to be able to train on gpu, you should first compile xgboost with cuda flag and then replace the `.so` file in your julia packages folder with this new file. Here's how you can do that

Clone xgboost repo, and pull the submodules

[code]

Build xgboost
[code]
This creates a `libxgboost.so` file in the `lib` folder.
Copy this file to the XGBoost package directory to the location where juli

[2019-08-24 03:42] caxelrud commented on #70
I am using Windows 10.
I got the dll from this site:
https://picnet.com.au/blog/xgboost-windows-x64-binaries-for-download/
And replaced at the Julia package location.
It is not complaining when using method="gpu_hist" so it looks like is working.

[2019-09-05 11:04] compleathorseplayer opened #73 "Introductory 'acarius' example fails on Mac OSX"
I tried to run the introductory example posted here on OSX-Mojave, running everything verbatim.  installing/loading XGBoost went fine (I tried both methods) but package would not run on the example data provided, with the error given:

ERROR: Call to XGBoost C function XGBoosterUpdateOneIter failed: [22:51:55] src/objective/regression_obj.cu:65: Check failed: preds.Size() == info.labels_.Size() (6

[2019-09-05 11:21] compleathorseplayer commented on #73
Resolved - data issue

[2019-09-05 11:21] #73 closed

[2019-09-05 12:18] compleathorseplayer opened #74 "Has anyone used XGBoost in Julia with Customised Objective Function?"
There are a couple of examples in the XGBoost forums using customised objective functions in R, but I have not seen any in Julia/XGB.    Any hints would be appreciated.  Also, if I get something working, I will post it.

Since I first put this up, I noticed the example given on here, which is much appreciated.   Unfortunately, it does not quite run as written, but does run with a few minor changes

[2019-09-13 14:04] compleathorseplayer opened #75 "Can't set DMatrix attributes in Julia"
I urgently need to be able to set and access attibutes in Julia, like I have been used to doing in R.

In R, after I have defined a DMatrix object (say, 'dtrain')  all I have to do is:

attr(dtrain, "myparam") = value

And then to retrieve this (e.g. within a customised objective function) I use:

myparam = attr(dtrain, "myparam")

and the assigned value(s) will be loaded into myparam .

I have tr

[2019-10-03 14:20] omus opened #79 "Package fails to build on Julia 1.0.5"
XGBoost v0.4.2 fails to build with Julia 1.0.5 and throws this exception:
[code]

Steps to reproduce:
[code]

[2019-10-03 14:26] omus commented on #79
I'll note this issue does not occur when using Julia 1.2

[2019-10-03 23:34] aviks commented on #79
Ouch, that's unfortunate. I can't replicate on 1.0.4 on windows, and we do have CI enabled for all versions including [1.0.5 on linux](https://travis-ci.org/dmlc/XGBoost.jl/jobs/591246405), so wondering how this slipped past. I'll investigate more.

[2019-10-03 23:36] aviks commented on #79
@staticfloat any thoughts?

[2019-10-04 00:02] staticfloat commented on #79
First off, fantastic error report.  It took me all of two minutes to reproduce the problem and find the root cause.

In the short term; do a `yum install libgomp`.  That should solve things instantly.

In the medium term; for Julia 1.0, we should just change the XGBoost tarball to include `libgomp.so` within it.

In the long term; https://github.com/JuliaPackaging/BinaryBuilder.jl/issues/448

[2019-10-05 13:23] omus commented on #79
Thanks guys!

[2019-11-12 20:07] Sinansi opened #80 "Hyperparameter Tuning"
Hello,

May someone confirm whether this package support hyperparameter tuning?
Either grid or random search? If not, any plan to add it in the future?

Thank you!

[2019-11-13 01:14] ablaom commented on #80
XGBoost is a model supported by the [MLJ.jl](https://github.com/alan-turing-institute/MLJ.jl) machine learning platform which, among other things, allows you to tune models with a grid search (more options coming soon).

You can look at this XGBoost [example](https://github.com/alan-turing-institute/MLJ.jl/blob/master/examples/xgboost.jl) but note that the tuning API has changed a little since tha

[2019-11-13 02:05] ablaom commented on #80
Okay, there is an up-to-date XGBoost tuning example [here](https://alan-turing-institute.github.io/MLJTutorials/pub/end-to-end/crabs-xgb.html).

[2019-11-19 03:17] ablaom commented on #80
You may also want  to check out [EvoTrees.jl](https://github.com/Evovest/EvoTrees.jl), a pure julia alternative to XGBoost for which an MLJ interface is a work-in-progress.

[2019-11-19 19:33] Sinansi commented on #80
Dear Dr. Anthony,
Thanks alot for your great help. This package seems promising. I was just going to ask you about hyper tuning it, but I saw your comment regarding integrating it with MLJ. I can't wait to fully utilize this package. Looking forward to MLJ future releases. Thanks again!

[2019-12-14 15:48] #59 closed

[2020-01-03 03:37] ablaom opened #81 "[Feature request] Create access to feature importances"

[2020-01-13 08:06] deepaksuresh commented on #81
Take a look at [this](https://github.com/dmlc/XGBoost.jl/blob/4115c0fc39e70540b8057979266af0f27ab611df/test/runtests.jl#L72)
The method `importance` will give you a list of important features along with gain

[2020-01-14 08:24] ablaom commented on #81
Great, thanks!

[2020-01-14 08:24] #81 closed

[2020-01-26 11:52] Sinansi opened #82 "Documentation up to date?"
Hello

Is the documentation up to date? I cant even get a single example work.

num_round = 2
bst = xgboost(train_X, num_round, label = train_Y, eta = 1, max_depth = 2)

returns error:
got unsupported keyword argument "label"

and when I remove the label keyword I get another error
ERROR: MethodError: no method matching xgboost(::Array{Float64,1}, ::Int64, ::Array{Int64,1}; eta=1, max_depth=2)

Ar

[2020-01-26 13:20] Sinansi commented on #82
train_X, train_Y = readlibsvm("data/agaricus.txt.train", (6513, 126))

ERROR: UndefVarError: readlibsvm not defined

[2020-01-27 09:43] dpk1729 commented on #82
Can you see if this works for you
[code]

[2020-01-27 09:54] Sinansi commented on #82
Hi @dpk1729 thanks for your reply.

Actually, it was my bad. All of the above errors were due to wrong shape and data structure. The training dataset I have is one vector only (not a matrix as usual) so the value that will be used as input for prediction is a scalar. I had to convert the scalar into an array and then reshape it into a column array before using it as input for prediction.

Everythi

[2020-01-27 16:31] #82 closed

[2020-01-27 16:31] #80 closed

[2020-03-25 23:36] ViralBShah opened #83 "Use artifacts for distributing XGBoost binaries"
Would be nice to provide binaries through the artifacts and BinaryBuilder mechanism.

[2020-03-25 23:50] ViralBShah commented on #83
https://github.com/JuliaPackaging/Yggdrasil/pull/655

[2020-04-08 21:26] aviks commented on #83
Fixed by #84

[2020-04-08 21:26] #83 closed

[2020-04-08 22:15] aviks commented on #70
closing this issue, this is the way to do this for now.

[2020-04-08 22:15] #70 closed

[2020-04-08 22:18] aviks commented on #74
This example may help: https://juliacomputing.com/blog/2020/02/24/ad-xgboost.html

[2020-04-08 22:18] #74 closed

[2020-04-08 22:22] aviks commented on #69
@ablaom we never got to the bottom of this, but is this working for you now?

[2020-04-10 00:33] ablaom commented on #69
We are not having build issues with XGBoost lately, and I just re-triggered CI to confirm.

Many thanks!

[2020-04-10 00:33] #69 closed

[2020-04-24 20:32] azev77 opened #86 "Releases not updated"
[Releases](https://github.com/dmlc/XGBoost.jl/releases): says latest release is 0.4.2
It should say: 0.4.3

[2020-05-21 04:30] karanbudhraja-tgen opened #88 "Number of threads used may be more than number of processes"
In its current implementation, the interface does not acknowledge the number of processes that Julia is being run with. By default, it uses all available CPU cores. This can be limited by using the parameter "nthread" during training. However, many Julia methods are mindful of the number of processes and limit themselves to that.

Perhaps it could be considered to pass this number of Julia process

[2020-06-29 17:02] aviks commented on #79
XGBoost_jll now has explicit dependency on `CompilerSupportLibraries` and will thus have `libgomp` available (on linux and windows). This is limited to julia 1.3 and above, which is also the support floor for recent versions of the package. Hence, closing.

[2020-06-29 17:02] #79 closed

[2020-06-29 17:36] aviks commented on #88
Can you elaborate on your use case? Are you running multiple Julia processes on one machine, and want the XGBoost training to not use all available cores? What is the downside to using `nthreads`? Not sure I understand exactly what you mean, sorry.

[2020-06-29 23:54] karanbudhraja-tgen commented on #88
There isn't a downside to using `nthreads`, it is just that it is a mandate. When I set Julia's number of processes using `-p`, other libraries such as Distributed only use that many processes. However, XGBoost does not consider that value and uses all available cores on the machine (more than the number of processes I specified using `-p`). What I meant to suggest is that XGBoost limit itself als

[2020-06-30 02:33] ablaom commented on #88
You may also want to also consider the pure julia tree-boosting algorithm at EvoTrees.jl. Moving forward, it may be easier to get them to add missing features than to expose what you want from this wrapped version. Development is still fairly active there.

Just a suggestion.

[2020-07-01 12:55] karanbudhraja-tgen commented on #88
Thank you for the suggestion! I had not considered `EvoTrees.jl`. It is great that they are active. I will check that implementation as well.

[2020-07-20 15:04] JackDunnNZ opened #90 "Permission denied error during test"
If the package is installed normally, the folder is read-only and this causes the tests to fail when it tries to save the model to a file in the test directory:

[code]

[2020-07-21 11:41] sharmaabhishekk commented on #82
Could you please let me what exactly worked out for you? I'm having the exact same error, as far as I understand. My training features data (train_X) is a julia `array` with `size = (22000, 5)`. The labels (train_y) is also a julia array - a vector of size (22000, 1).
I have tried reshaping the labels to size `(22000,1,1)` and the same with the training data `(22000,5,1)` as you mentioned somethin

[2020-10-09 18:47] omus opened #91 "Missing tags for versions 0.4.3 and 1.1.1"
These [versions are registered](https://github.com/JuliaRegistries/General/blob/master/X/XGBoost/Versions.toml) but no tags exist here.

[2020-10-11 19:47] aviks commented on #91
Tagbot is running on this repo, so I wonder why the tags are missing. I'll note that the releases were made with the web registrator -- is that significant? Might be worthwhile paging @christopher-dG -- help!

[2020-10-11 23:07] christopher-dG commented on #91
@aviks the TagBot action was added to this repo after the last two releases were made, so it didn't pick them up (it only looks a couple of days into the past). You can get those tags in by [running TagBot manually](https://github.com/JuliaRegistries/TagBot#local-usage).

[code]

[2020-11-25 22:35] devmotion opened #92 "Errors on 32bit systems"
Our [test on Ubuntu 32bit](https://github.com/TuringLang/MCMCChains.jl/pull/254/checks?check_run_id=1455808023) (Julia 1.5.3, XGBoost 1.1.1) fails with the following error message:
[code]
Ubuntu 64bit works fine. And the same test error can be observed on [Ubuntu 32bit with Julia master](https://github.com/TuringLang/MCMCChains.jl/pull/254/checks?check_run_id=1455808125).

[2020-11-28 17:24] aviks commented on #92
Yeah, unfortunately this package wasn't being tested on 32 bits. I wans't sure anyone cared about 32 bits now. I'll investigate, but can't promise a quick fix.

[2020-11-29 11:58] aviks commented on #92
Well, it looks like the maintainers of XGBoost [no longer support 32 bit systems](https://github.com/dmlc/xgboost/issues/6443). So the Julia binding unfortunately cannot support x86 either. I'll have to close this as `wontfix`.

[2020-11-29 11:58] #92 closed

[2020-11-29 12:08] devmotion commented on #92
Ah OK, good to know. Maybe it would be helpful then to not build XGBoost_jll on 32bit systems? Then it would be more obvious that it is not supported.

[2020-11-29 12:09] devmotion commented on #92
The only "problem" with not building future versions of XGBoost_jll on 32bit systems is that it would still be possible to install current and older versions on 32bit systems.

[2020-11-30 20:52] aviks commented on #92
Yeah, I'lll change the next version of the jll not to build x86, but since we cannot represent Pkg dependencies taking CPU arch into account, users will only get a runtime error. Maybe we can check and print a warning at startup?

[2020-11-30 21:15] devmotion commented on #92
Yes, I guess this could be useful.

[2020-12-22 16:27] aviks commented on #91
This is now done. Thanks Chris for the pointer.

[2020-12-22 16:27] #91 closed

[2021-01-08 18:27] aviks commented on #86
fixed. cf: #91

[2021-01-08 18:27] #86 closed

[2021-02-08 02:55] dmoliveira opened #94 "Remove Deprecated Usage of XGBMatrixSetGroup"
[code]

[2021-06-14 02:20] john-b-edwards commented on #70
Is this still the recommended means of running xgboost with `gpu_hist`? Installing `XGBoost.jl` I don't see a `.so` file to replace in the package.

[2021-06-30 03:26] clouds56 commented on #88
Hello, I'm on the other side. I think the XGBoost only takes 1 core on my macOS (10.15, core i5), the CPU usage is ~90% vs at the same time, python XGBoost package could exploit ~360%.
Passing `nthread=4` or not doesn't change the situation. Parameters like this
[code]

version info
[code]

[2021-07-19 00:27] nuclear718 opened #96 "Bugs with Julia 1.6.2? (XGDMatrixCreateFromMat failed)"
My program has XGBoost model training and prediction, it is run very well everyday (from Julia 1.3.X to Julia 1.5.X) until I update my Julia to latest version 1.6.2 and run Pkg.update().  This program cannot be executed due to the XGBoost error:

Environment:

**Julia Version 1.6.2
Commit 1b93d53fc4 (2021-07-14 15:36 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: AMD Ryzen 5 3600X 6

[2021-07-24 00:01] nuclear718 commented on #96
The issue was  caused by "inf" not "nan", remove "inf" and solved it.

[2021-07-24 00:01] #96 closed

[2021-08-09 08:02] mlesnoff opened #98 "Verbosity=0 not working?"
Hello, I am using function xgboost of XGboost.jl. It seems that argument 'verbosity = 0' does not make 100% silent returns (there are printing messages anyway).

`n = 50 ; p = 5 ;
X = rand(n, p) ; y = rand(n) ;
num_round = 3 ;
fm = xgboost(X, num_round; label = y, max_depth = 2, verbosity = 0)`

Printing messages:

`[1]     train-rmse:0.280325
[2]     train-rmse:0.266210
[3]     train-rmse:0.25571

[2021-08-17 07:14] mlesnoff opened #99 "No variability in xgboost outputs: Bug in XGBoost.jl?"
Dear authors and contributors

I am using functions “xgboost” from the R packages “xgboost” and the
Julia package “XGBoost.jl” that both interface the XGBoost library.
May be I missed something
but I observed surprising outputs from XGBoost.jl.
When I fit one single tree with xgboost (Julia), there is
no variability when I re-run the fitting on the same data,
while I use only fractions of the data

[2021-08-25 16:42] mlesnoff commented on #99
I finally found argument "seed" that makes the output varying.

[2021-08-25 16:42] #99 closed

[2021-09-27 07:21] dmahasen opened #100 "How to tune xgboost model ?"
Hi,

Is there are a way to get metrics values for a given set of parameters in nfold_cv() function? or is there any other way to tune hyperparameters of xgboost model in XGBoost.jl.

Thank you,

Mahasen Dehideniya

[2021-09-27 20:02] ablaom commented on #100
XGBoost has an [MLJ](https://alan-turing-institute.github.io/MLJ.jl/dev/) interface, which opens up a number of hyper-parameter optimisation strategies. There's even an end-to-end XGBoost/MLJ tutorial on this [here](https://juliaai.github.io/DataScienceTutorials.jl/end-to-end/crabs-xgb/). The tutorial does not necessarily represent best practice but does demonstrate the syntax.

I'd probably use `

[2021-09-30 07:34] rzietal opened #101 "Custom loss function - working example"
Hi, could you provide working example with meaningful comments on how to implement custom loss function? The example included in the tutorials doesn't work for me. It crashes with the following error

ERROR: LoadError: LoadError: MethodError: no method matching exp(::Vector{Float32})
Closest candidates are:
  exp(::StridedMatrix{var"#s832"} where var"#s832"<:Union{Float32, Float64, ComplexF32, Com

[2021-09-30 19:30] ablaom commented on #101
It looks like one needs to broadcast the `exp` at https://github.com/dmlc/XGBoost.jl/blob/14f93a1e91f8f6cc34666abe5e9780500ae31bef/demo/custom_objective.jl#L21

rather than apply directly to a vector.

So replace the cited line with:

[code]

Does that fix the example for you?

[2021-09-30 20:42] rzietal commented on #101
Hi,

I've tried that, then it crashes further down in XGBoosts eval_set with a type conversion error. What surprises me is that gradient and hessian are both returned as vectors (also in some other python examples I saw) Is hessian only meant to be the diagonal elements of it? Is this a universal property/requirement of a valid cost function to have vanishing off-diagonal elements of hessian?

Man

[2021-10-01 02:09] rzietal commented on #101
There is number of broadcasting fixes needed for logregobj to work. Correct code is below

`function logregobj(preds::Vector{Float32}, dtrain::DMatrix)
    labels = get_info(dtrain, "label")
    preds = 1.0 ./ (1.0 .+ exp.(-preds))
    grad = preds - labels
    hess = preds .* (1.0 .- preds)
    return (grad, hess)
end`

With this the demo script works as expected. I must have had some conflicting

[2021-10-01 02:19] rzietal commented on #101
I have figured it out, there was a problem elsewhere in the code. Below is a complete example for implementation of the squared log loss as per python tutorial:

[https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html](url)

applied in a simple regression to fit a line

[code]

[2021-11-16 18:43] rcurtin commented on #98
It seems like the `silent=true` option might help here (see #71); that worked at least partially for me, although I still have not managed to filter out things like:

[code]

[2021-11-17 17:29] mlesnoff commented on #98
perfect, that works for me, many thanks @rcurtin

[2021-11-17 17:29] #98 closed

[2021-12-11 19:33] ChristianMichelsen commented on #88
I have the same issue as @clouds56, also on a MacBook Pro (Intel).

[2022-01-11 12:33] Roh-codeur opened #102 "Apple silicon gpu"
Hi

Do we have any plans to support apple silicon GPUs? I am aware Julia team is working on GPU support as part of JuliaGPU/Metal.jl project. Not sure that's useful

Thanks

[2022-01-21 02:05] ablaom opened #103 "How do I create persistent representations of learned parameters (models) ?"
The objects created by `xgboost` ("models") are not persistent (just some C pointers) and hence not serialisable. Working through the julia wrapper XGBoost.jl, the only way I know how to construct a persistent Julia representation of the model is to write to disk using `XGBoost.save` and then *read in* the file to a julia object (The MLJ serialiser does this [here](https://github.com/JuliaAI/MLJXG

[2022-01-21 02:07] ablaom commented on #103
cc @OlivierLabayle

[2022-03-20 14:22] Roh-codeur opened #104 "Continual learning"
Hi

Does this package implement "Training continuation"? if so, how can I use it?

Demo for training continuation[](https://xgboost.readthedocs.io/en/latest/python/examples/continuation.html?highlight=xgb_model#demo-for-training-continuation)

thanks
Roh

[2022-04-05 09:02] JuliaTagBot opened #107 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2022-04-05 09:02] #107 closed

[2022-05-03 17:22] NC-Elbow opened #108 "Prediction"
XGBoost seems to not have a prediction in julia 1.7

pred = predict(bst, test_X)
pred = predict(bst, dtest)
both return (test_X and dtest are defined and work exactly as expected)
UndefVarError: predict not defined.

bst.predict(test_X)
bst.predict(dtest)
both return
ERROR: type Booster has no field predict

[2022-06-07 04:40] kevindirect commented on #108
I did find though that I had to do `XGBoost.predict(...) `for the method to resolve properly. I don't know why, predict is exported properly so `predict(...) `should work.

The sexond one is the wrong syntax wrong for julia, should be `predict(bst, test_X)`, the Booster type doesn't have a function field called predict.

[2022-09-03 16:21] compleathorseplayer opened #110 "XGBoost Broken - won't work after fresh install of Julia 1.8"
Hi.  XGBoost seems to be broken.   It failed to precompile in Julia 1.7 so I installed/Julia 1.8 fresh.

[code]

Does anyone have any ideas?
Are there any alternative versions of xgboost that work on Julia?

Thanks for any help.

[2022-09-03 23:09] giordano commented on #110
As written in the error message (and [explained also on discourse](https://discourse.julialang.org/t/xgboost-broken-initialization-error/86731/5)), it's the binary library xgboost which requires macOS 10.15, nothing that can be done about that here.

[2022-09-04 20:04] hcho3 commented on #110
An XGBoost project maintainer here.

There's nothing upstream XGBoost that requires MacOS 10.15 specifically. In the Python package, we target MacOS 10.13+:
https://github.com/dmlc/xgboost/blob/ada4a86d1c3687ba78392993e6b2902d69175ef2/tests/ci_build/build_python_wheels.sh#L38

Which `libxgboost.dylib` the Julia package using? Is it using Homebrew's package (https://formulae.brew.sh/formula/xgboost

[2022-09-04 20:18] giordano commented on #110
Building xgboost in
https://github.com/JuliaPackaging/Yggdrasil/blob/728e7c9e273188fefbe5ac008949f269fd9c97a3/X/XGBoost/build_tarballs.jl#L22-L30 requires `___cxa_deleted_virtual` (referenced by `json.cc.o` according to https://github.com/JuliaPackaging/Yggdrasil/pull/4932#issuecomment-1134416085), which is in 10.15.

[2022-09-04 20:37] hcho3 commented on #110
Thanks for pointing it out. It appears that this line
https://github.com/dmlc/xgboost/blob/ada4a86d1c3687ba78392993e6b2902d69175ef2/include/xgboost/json.h#L61

is causing the issue. I can submit a pull request to remove this line. What's the best way to test the patch with older MacOS?

[2022-09-04 20:38] giordano commented on #110
If you can cook up a patch (also here) I can try it over at Yggdrasil.  Is just removing that line enough?

[2022-09-04 20:38] hcho3 commented on #110
Yes, that should be sufficient. The function `operator=` is not used anywhere.

[2022-09-04 21:28] compleathorseplayer commented on #110
Great! Thanks all!

[2022-09-04 21:28] giordano commented on #110
This should have been fixed in `XGBoost_jll` version `1.6.1+1`.

[2022-09-04 21:39] giordano commented on #110
BTW, does this line https://github.com/dmlc/xgboost/blob/ada4a86d1c3687ba78392993e6b2902d69175ef2/tests/ci_build/build_python_wheels.sh#L36 mean that you're actually using the 10.15 SDK for building, but targeting 10.13?  We could have done the same in Yggdrasil, although simply removing the offending line is a better fix overall.

[2022-09-05 05:00] hcho3 commented on #110
Yes.

[2022-09-05 05:00] #110 closed

[2022-09-20 22:02] ericphanson opened #112 "`WARNING: /workspace/srcdir/xgboost/src/learner.cc:1350: Empty dataset at worker: 0`"
I'm seeing this warning printed over and over while evaluating an XGBoost model through MLJ (calling `MLJBase.predict(...)` on an `XGBoostClassifier`). Any hint what that could be?

[2022-10-13 02:57] mangolzy commented on #38
I have a related confuse, according to some out-of-date documentation, eg:
[https://xgboost.readthedocs.io/en/release_0.72/python/python_api.html]()
**label ([list] or numpy 1-D array, optional) – Label of the training data.**
it seems only 1-D array is accepted as label for construction of matrix.
but from the newly created version,
[https://xgboost.readthedocs.io/en/stable/python/python_api.html

[2022-10-13 04:37] trivialfis commented on #38
The matrix input for labels is a recent addition (1.6) for multi-output and multi-label,  the getter hasn't been able to return the matrix yet.

[2022-10-25 19:40] trivialfis opened #122 "Store feature names in booster."
https://github.com/dmlc/XGBoost.jl/blob/cf09726145338c198a2abc71b95511e0fc2b7f6b/src/booster.jl#L43

The attribute can be stored in booster and saved as long as json/ubj is used as file format.

[2022-10-26 17:04] SebastianCallh opened #123 "DMatrix from DataFrame exampel in docs fails"
Running the example

[code]
from the documentation [here](https://github.com/dmlc/XGBoost.jl/blob/master/docs/src/index.md#feature-naming-and-tabular-data) gives the error

[code]
Unfortunate! Has support for DataFrame -> DMatrix been removed?
I'm using DataFrames v1.4.1 and XGBoost v1.5.2.

[2022-10-27 16:55] tylerjthomas9 commented on #123
The current version in the registry does not have `DMatrix` support. You will have to install from the current GitHub branch to use it.

[code]

[2022-10-28 07:01] SebastianCallh commented on #123
I see, thanks! I realize now I read the docs in the repo (i.e. on main) since the link in the readme 404s. Do you know if a new release with the aforementioned feature is planned soon?

[2022-10-31 20:24] cstjean opened #124 "Docs are broken"
The [link on the front page](https://dmlc.github.io/XGBoost.jl/) gives a 404

[2022-11-02 19:06] ExpandingMan commented on #124
See the discussion [here](https://github.com/dmlc/XGBoost.jl/pull/121), we really need help from someone with admin rights on the package.

[2022-11-02 19:52] hcho3 commented on #124
I enabled the GitHub Pages feature on this repository.

[2022-11-02 19:52] #124 closed

[2022-11-02 19:53] ExpandingMan commented on #124
Ah, nice!  Thanks to whoever fixed this!

[2022-11-03 03:55] MeganDawson42 opened #126 "typo"
https://github.com/dmlc/XGBoost.jl/blob/06d5b4dbe4b2744ebcda7deaebdfd929b0b26ebc/src/booster.jl#L152

typo here fanme should be fname :)

[2022-11-04 13:29] scheidan commented on #123
On version `2.0.0` the example from the docs still fails:
[code]

I believe the reason is that the constructor for `Dmatrix` overly restrictive:
[code]
Relaxing it to
[code]
solves the issue.

[2022-11-04 16:14] scheidan opened #128 "How to obtain training loss from a `Booster`?"
During training the loss values are reported:
[code]

Is there a way to obtain the last trainings loss from a `Booster` object? Or maybe even the loss for all rounds?

Apologies if this is trivial, I just could not find anything in the documentation or in the code.

Thanks!

[2022-11-05 08:27] alyst opened #130 "Old syntax xgboost() results in stack overflow"
On *XGBoost.jl* v2.0.0 the command `xgmodel = xgboost(train_dmtx, 5000, gamma = 1)` gives
[code]

The method in question is
[code]
It is supposed to call the more specific `updateone!(b::Booster, data::DMatrix, ...)`, but it also requires that the `a...` args match the signature of the more specific method, otherwise it will recurse.

[2022-11-08 22:26] aviks opened #132 "[Community] Provide commit access to @ExpandingMan"
@ExpandingMan has recently made significant improvements to the Julia package, [rewriting large parts of it](https://github.com/dmlc/XGBoost.jl/pull/111), and it would help for him to have commit access to this package. I'll continue to help maintain this package, but Michael is now much more conversant with this codebase, and xgboost in general.

@tqchen @hcho3 would you consider this, please? Th

[2022-11-08 22:28] hcho3 commented on #132
@aviks I sent an invitation to @ExpandingMan to obtain commit access to this repository.

[2022-11-08 22:29] ExpandingMan commented on #132
Thank you.

I don't want to speak for him, so we should give him a chance to chime in, but I think it would also be good to grant this to @ablaom who is a prominent figure in the Julia machine learning community with a vested interest in maintaining this package.

[2022-11-08 22:31] hcho3 commented on #132
Sure, if @ablaom wants the commit access, I will send invitation as well.

[2022-11-09 02:36] ablaom commented on #132
I'm spread too thin to take on any kind of maintenance responsibility, but I'm happy to have commit access as a back up.

Wholeheartedly agree that adding @ExpandingMan is a good idea.

[2022-11-09 14:55] tqchen commented on #132
Thank you @ExpandingMan ! no objections

[2022-11-10 00:06] ExpandingMan commented on #132
Closing this as I have permissions.  Thanks all!

[2022-11-10 00:06] #132 closed

[2022-11-10 00:07] ExpandingMan commented on #130
I'm sure I thought having the generic method was terribly clever when I first wrote it but I agree this is too much of a footgun.  I'll have to go through it a little carefully to make sure we have the right methods.

If anybody else wants to fix, I will accept the PR.

[2022-11-10 00:09] ExpandingMan commented on #128
Unfortunately I don't think the libxgboost API provides any access to this.  It probably doesn't even cache them.  Of course if I turn out to be wrong about that it would be a nice thing to add.

[2022-11-10 00:25] ExpandingMan opened #134 "GPU Support TODO List"
The following needs to be done for this wrapper to get GPU support.  From the C API docs it looks like this would mean only nvidia as I think it necessarily relies on CUDA.

- [ ] Create a new `xgboost_jll`.  I really have no idea how to do this for GPU targets, so that'll take some figuring out.  If anybody is good with BinaryBuilder and wants to help with that it would be much appreciated, as th

[2022-11-10 09:12] scheidan commented on #128
I just saw that it is possible with the R version, e.g.:
[code]
Digging a bit into the R package I found that they get the log with `cb.evaluation.log()`, see
https://github.com/dmlc/xgboost/blob/9dd8d70f0e00a214585f145a85c0c21ce6f132f1/R-package/R/callbacks.R#L106
However I do not understand how it works.

[2022-11-11 14:54] ExpandingMan commented on #94
No longer relevant as of 2.0

[2022-11-11 14:54] #94 closed

[2022-11-11 14:55] ExpandingMan commented on #72
Now possible in 2.0

[2022-11-11 14:55] #72 closed

[2022-11-11 14:56] ExpandingMan commented on #102
The xgboost lib only seems to support CUDA, which would mean nvidia only.

If I turn out to be wrong about this please re-open.

[2022-11-11 14:56] #102 closed

[2022-11-11 14:57] ExpandingMan commented on #75
This was likely possible but poorly documented before 2.0, now it should be both possible and documented.

[2022-11-11 14:57] #75 closed

[2022-11-11 14:58] ExpandingMan commented on #126
Thanks, this has since been fixed.

[2022-11-11 14:58] #126 closed

[2022-11-11 15:00] ExpandingMan commented on #39
Funny how little patience I have to go back and read my own incredibly verbose issue posts from a long time ago.

As of 2.0, the layout of this package largely matches libxgboost itself.  The `Booster` object could be used in a ScikitLearn-like interface.  Note also that MLJXGBoostInterface is now overhauled to work with 2.0.

I'm therefore closing this issue.

[2022-11-11 15:00] #39 closed

[2022-11-11 15:00] ExpandingMan commented on #123
This has been fixed, thanks to @tylerjthomas9 .

[2022-11-11 15:00] #123 closed

[2022-11-11 15:03] ExpandingMan commented on #122
I think you are referring to the fact that the other Julia struct fields, presently `feature_names` and `params`, don't get stored along with the underlying booster object.

I agree this is not ideal, but I don't see a way around it that does not have its own significant drawbacks.  The real problem is that we want this stuff to be stored in the C struct, not the Julia struct.  The biggest problem

[2022-11-11 15:04] ExpandingMan commented on #108
`predict` is exported in 2.0.

[2022-11-11 15:04] #108 closed

[2022-11-11 15:05] ExpandingMan commented on #104
Yes! as of 2.0 it should be possible to do very much the same thing that is shown in this python example.

[2022-11-11 15:07] ExpandingMan commented on #112
This looks like the warning you get when you run a prediction on empty data, which I also find extremely annoying.  This warning is called from the C lib.

I'm not above checking for empty data on the Julia side and eliding the call, though it's worth contemplating whether doing so would have unforeseen consequences.

[2022-11-11 15:11] ExpandingMan commented on #103
I think what you're referring to here is the fact that, prior to 2.0, no Julia methods were provided to writing to an in-memory buffer.  The appropriate methods have been added and are now used in MLJXGBoostInterface.jl.

@ablaom , can you please clarify whether something else is being asked here, and if not close the issue?

[2022-11-11 15:13] ExpandingMan commented on #101
An example using the new API is provided with the 2.0 docs.

This issue does not seem relevant any longer, if you disagree please comment or re-open.

[2022-11-11 15:13] #101 closed

[2022-11-13 21:34] #103 closed

[2022-11-16 06:37] Roh-codeur commented on #134
thanks for your work on this, I look forward to seeing this. will add a significant impact on my project, thanks!